*body {
    margin: 0;
    padding: 0;
   
    /* For browsers that do not support gradients */
    background-image: radial-gradient(rgb(0, 0, 0), rgb(23, 23, 23), rgb(0, 0, 0));

}



  .navbar2{
    background-color: black;
  }
  .navbar2 nav{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5421;
    background-color: #0768af;
  }
@media (min-width: 1024px) {
    .navbar2{
      display: none;
      z-index: 55;
    }
  }





.navbar {
    background-color: #000;
    color: #fff;

    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
    border-bottom: 1px solid white;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 3;
}

.navs {
    position: relative;
}

.navbar a {
    color: #d2d1d1;
    text-decoration: none;
    margin: 0 15px;
}

.link:hover {
    color: #fff;
}

.link2 {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 7em;


}










.icon {
    &:hover {
        transform: rotate(180deg);
    }
}

.img {

    margin-left: 9em;

}

.dropdown-menu {
    background-color: #000;
}

.btn {
    color: #d2d1d1;

    &:hover {
        color: white;
    }
}

.sing {
    color: #c7c7c7;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.1;
    border: 1px solid transparent;
    padding: 1em 0;
    border-radius: 24px;
    margin: auto;
    display: block;
    text-align: center;
    transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
    box-shadow: inset 0 0 0 1px #ffffff;
    font-family: 'DIN Next LT Pro', Arial, sans-serif;
    font-weight: bold;
    background: rgba(7, 104, 175, 0.5);
    box-shadow: inset 0 0 0 1px #0768af;
    padding: 7px 15px 5px;

    &:hover {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        // font-size: 16px;
        // line-height: 1.1;
        border: 2px solid transparent;
        // padding: 1em 0;
        border-radius: 30px;
        // margin: auto;
        // display: block;
        text-align: center;
        transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
        box-shadow: inset 0 0 0 1px #ffffff;
        font-family: 'DIN Next LT Pro', Arial, sans-serif;
        font-weight: bold;
        background: rgba(18, 153, 249, 0.5);
        box-shadow: inset 0 0 0 1px #3b90cd;
        // padding: 7px 15px 5px;
    }
}

.login {
    text-align: center;
    margin-bottom: 1em;
    font: inherit;
    color: #d7d5d5;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.1;
    border: 1px solid transparent;
    padding: 1em 0;
    border-radius: 24px;
    margin: auto;
    display: block;
    text-align: center;
    transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
    box-shadow: inset 0 0 0 1px #ffffff;
    font-family: 'DIN Next LT Pro', Arial, sans-serif;
    font-weight: bold;
    background: rgba(7, 104, 175, 0.5);
    box-shadow: inset 0 0 0 1px #0768af;
    padding: 7px 15px 5px;

    &:hover {

        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        // font-size: 16px;
        // line-height: 1.1;
        border: 2px solid transparent;
        // padding: 1em 0;
        border-radius: 30px;
        // margin: auto;
        // display: block;
        text-align: center;
        transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
        box-shadow: inset 0 0 0 1px #ffffff;
        // font-family: 'DIN Next LT Pro', Arial, sans-serif;
        // font-weight: bold;
        background: rgba(18, 153, 249, 0.5);
        box-shadow: inset 0 0 0 1px #3b90cd;
        // padding: 7px 15px 5px;
    }
}

.dropdown {
    z-index: 1;
}

.dropdown-menu {
    z-index: 2;
}

.dropdown-item {
    z-index: 1;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.none {
    z-index: 2;
    list-style: none;
    color: white;

}

.carousel-item {
    width: 100%;
    height: auto;
}

.slid {
    width: 100%;
    height: auto;
    // position: relative;
    // left: -1em;
    // right: -2em;
   
    /* For browsers that do not support gradients */
    background-image: radial-gradient(rgb(41, 40, 40), rgb(86, 86, 86), rgb(41, 40, 40));
}


.text-center {
    color: white;
    text-align: center;
    margin-top: 0.5em;
    font-size: 50px;
}

.item-logo {
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 30px 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}



.All-link {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text1 {


    color: #ffffff;
    font-weight: 900;
    background-color: rgba(7, 104, 175, 0.2);
    border-bottom: 7px solid #0768af;
    padding-bottom: 6px;


}

.img1 {

    width: 137px;
    height: 70px;
    position: relative;
    font-family: 'DIN Next LT Pro', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b6b7;
    padding: 10px 0;
    margin: 0 10px;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
    z-index: 2;
    border-bottom: 0px solid #0768af;
    margin-left: 4em;


    &:hover {
        color: #ffffff;
        font-weight: 700;
        background-color: rgba(7, 104, 175, 0.2);
        border-bottom: 7px solid #0768af;
        padding-bottom: 6px;
        transition: 1s;
        display: block;

    }



}

.All-link {
    text-decoration: none;
    color: white;
}

.img1 {
    // display: inline-block;
    // justify-content: center;
    // align-items: center;
    margin-left: 3em;

}

.box {
   
    /* For browsers that do not support gradients */
    background-image: radial-gradient(rgb(40, 39, 39), rgb(52, 52, 52), rgb(31, 31, 31));
    width: 100%;


}

.card {
    border-radius: 5px;
 
    /* For browsers that do not support gradients */
    background-image: radial-gradient(rgb(41, 40, 40), rgb(86, 86, 86), rgb(41, 40, 40));
    width: 80%;
    height: auto;
    margin-top: 3em;
 
    
    margin-left: 2.5em;
}

.card-title {
    color: white;
    font-size: 30px;
}

.card-text {
    color: white;
    font-size: 20px;
}

.shabe{
    position: relative;
    width: 90%;
    height: 10px;
    margin: 14px 5;
    z-index: 0;
    left: -1em;
    bottom: 1em;
    &:hover{
        display: block;
    }
}

.shabe ::before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 93%;
    bottom: 0;
    width: 75px;
    height: 1px;
    background-color: #b3b6b7;
    z-index: 1;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    transition: all .3s ease;

    &:hover {
        background-color: #0768af;
    }
}
// بپرس
.shap {
    position: relative;
    width: 100%;
    height: 10px;
    margin: 14px 0;
    z-index: 0;
}

.shap ::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65px;
    height: 10px;
    background-color: #b3b6b7;
    z-index: 1;
    transition: all .3s ease;

    &:hover {
        background-color: #0768af;
        display: block
    }
}

.shap::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 93%;
    height: 1px;
    background-color: #b3b6b7;
    z-index: 1;
    transition: all .3s ease;

    &:hover {
        background-color: #0768af;
        display: block;
    }
}

.read {
    color: #e7e7e7;
    text-decoration: none;
    font-size: 10ox;

    &:hover {
        color: #0768af;
    }
}


.p p:hover {
    display: block;
    transition: 1s;
}

// بپرس

.navbar1 {
    background-color: transparent;
    // opacity: 0.9;
    // border-top: 1px solid white;
    // border-bottom: 1px solid white;
    border: none;
}

.offcanvas{
    background-color: #000000;
    opacity: 0.9;
    color: #b3b6b7;

    &:hover{
        color: white;
    }
}

.navbar-brand {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: -13px;
}

.dropdown2 {
    background-color: #000;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    width: 0;
    text-align: center;
    position: relative;
    left: 9em;

}

.dropdown-menu {
    transform: 3s;
    opacity: 0.9;
}

.btn {
    text-align: center;
}



.btn-center {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 8em;

}

.b-center {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.1;
    border: 1px solid transparent;
    padding: 1em 0;
    border-radius: 24px;
    margin: auto;
    display: block;
    text-align: center;
    transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
    box-shadow: inset 0 0 0 1px #ffffff;
    font-family: 'DIN Next LT Pro', Arial, sans-serif;
    font-weight: bold;
    width: 250px;

    &:hover {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        // font-size: 16px;
        // line-height: 1.1;
        border: 2px solid transparent;
        // padding: 1em 0;
        border-radius: 30px;
        // margin: auto;
        // display: block;
        text-align: center;
        transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
        box-shadow: inset 0 0 0 1px #ffffff;
        // font-family: 'DIN Next LT Pro', Arial, sans-serif;
        // font-weight: bold;
        background: rgba(18, 153, 249, 0.5);
        box-shadow: inset 0 0 0 1px #3b90cd;
        // padding: 7px 15px 5px;
    }

    // &:hover{

    //     background-color: #1119bc;
    //     opacity: 0.9;
    //     border: #0768af;
    //     border-radius: 10px;

    //     transition: 1s;
    // }
}




.text-c {
    margin-top: 6em;

    width: 100%;
    color: #fff;
}

.imeges1 {
    margin-top: 6em;

}

.btn-f {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.b-f {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.1;
    border: 1px solid transparent;
    padding: 1em 0;
    border-radius: 24px;
    margin: auto;
    display: block;
    text-align: center;
    transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
    box-shadow: inset 0 0 0 1px #ffffff;
    font-family: 'DIN Next LT Pro', Arial, sans-serif;
    font-weight: bold;
    width: 250px;

    &:hover {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        // font-size: 16px;
        // line-height: 1.1;
        border: 2px solid transparent;
        // padding: 1em 0;
        border-radius: 30px;
        // margin: auto;
        // display: block;
        text-align: center;
        transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
        box-shadow: inset 0 0 0 1px #ffffff;
        // font-family: 'DIN Next LT Pro', Arial, sans-serif;
        // font-weight: bold;
        background: rgba(18, 153, 249, 0.5);
        box-shadow: inset 0 0 0 1px #3b90cd;
        // padding: 7px 15px 5px;
    }
}

.boreder1 {

    margin-top: 2em;
    border: 1px solid white;

}

.boreder {
    margin-top: 1em;
    border-bottom: 1px solid white;
}

.text-fo {
    width: 1005;
    margin-top: 6em;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #c7c7c7;
}


.img2 {
    margin-top: 11em;

    margin-bottom: 4em;
}

.gra img {
    // background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(rgb(27, 27, 27), rgb(27, 27, 27), rgb(31, 31, 31));
    z-index: 4;
    opacity: 0.9;
}

.h2 {
    color: #ffffff;
}

.texct {
    margin-top: 11em;
    display: inline-block;

}

.item-textc {
    color: #b3b6b7;
    list-style: none;

}

.i-link a {
    text-decoration: none;
    color: #c7c7c7;
}

.i-link a:hover {
    color: white;
}

.div-t {
    margin-top: 13em;
}

.u-t {
    list-style: none;
}

.text-r {
    position: relative;
    bottom: 13em;
}

.text-r h1 {
    color: #0768af;
}

.border4 {
    border: 1px solid white;
}

.f-t {
    color: #ffffff;
    margin-top: 6em;
}

.ii {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 5px;

    &:hover {
        background-color: #fff;
    }
}

.img4 {
    margin-top: 2em;
}

.item-fot {
    margin-top: 6em;
    display: inline-block;
}

.ul-fot {
    list-style: none;
    color: #b3b6b7;
}

.i-fot a {
    text-decoration: none;
    color: #b3b6b7;

    &:hover {
        color: #ffffff;
    }
}
.p-fotr{
    margin-top: 6em;
}

.text-foter{
    list-style: none;
    color: #c7c7c7;
}
.p-foter a{
    text-decoration: none;
    color: #b3b6b7;
    &:hover{
        color: white;
    }
}

.f-fot{
    margin-top: 6em;
}

.p-gr{
    color: #b3b6b7;
    list-style: none;
}

.p-c a{
    color: #b3b6b7;
    text-decoration: none;
    &:hover{
        color: #ffffff;
    }
}

.icon-foter{
    margin-top: 6em;
}
.icon-foter a{
    text-decoration: none;
    color: #b3b6b7;
    &:hover{
        color: #ffffff;
    }
}
.icon-foter ul{
    list-style: none;
}



// .line {
//     width: 100%;
//     height: 3px;
//     margin: 2px 0;
// }

// .line.red {
//     background-color: red;
// }

// .line.yellow {
//     background-color: yellow;
// }

// .line.green {
//     background-color: green;
// }

// .line.blue {
//     background-color: blue;
// }



@media (max-width:678px) {




    //    نوبارها

    .navbar {

        display: none;


    }

    .navbar1 {
        display: block;
    }

    .btn-center {
        display: none;
    }

    .text-c {
        display: none;
    }

    .imeges1 {
        display: none;
    }

    .img2 {
        display: none;
    }

    .texct {
        display: none;
    }

    .div-t {
        display: none;
    }

    .border4 {
        display: none;
    }

    .boreder {
        display: none;
    }

    .boreder1 {
        display: none;
    }

    .icon-foter{
        display: none;
    }

}




@media (max-width:678px) {






    .item-logo {
        display: none;
    }

    .dropdown2 {
        display: block;
    }

}


@media (min-width:1024px) {

    

    .dropdown2 {
        display: none;
    }

}



@media (min-width:1024px) {

    .dropdown2{
        display: none;
    }


}




@media (max-width:678px) {



    .navbar1{
        display: block;
    }


//    .deletsm{
//     display: block;
//    }

}